.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(16, 15, 18);
}

.login-container .main {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.login-container h1 {
  text-align: center;
  letter-spacing: 1px;
}

.login-container button {
  width: 100%;
  margin-top: 10px;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  transition: all 200ms ease-in 0s;
  background: rgb(16, 15, 18);
  padding: 12px 15px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(247, 223, 30);
  border-image: initial;
  border-radius: 5px;
}

.login-container button:hover {
  transition: all 200ms ease-in 0s;
  background: rgb(247, 223, 30);
  color: rgb(16, 15, 18);
}
